@using MvcDB.Models
@model List<Tblhobilerim>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Hobi Düzenleme Sayfası</h2>
<br />
<form method="post">
@foreach (var item in Model)
{
    <label>Açıklama</label>
    <textarea rows="5" class="form-control" name="Aciklama">@item.Aciklama</textarea>
    <br />
    <label>Açıklama2</label>
    <textarea rows="5" class="form-control" name="Aciklama2">@item.Aciklama2</textarea>
}
<br />
<button class="btn btn-success">Güncelle</button>
</form>

