
@{
    ViewData["Title"] = "adminekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Yeni Admin Ekleme Sayfası</h4>
<br />
<form method="post">
    <label>Başlık</label>
    <br />
    <input type="text" name="KULLANICIACI" class="form-control" placeholder="Kullanıcı Adınız" />
    <br />
    <input type="text" name="SIFRE" class="form-control" placeholder="Şifreniz" />
    <br />
    <button class="btn btn-info">KAYDET</button>
</form>


